body {
    background-color: #ededed; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.heading {
    color: #00DFFF;
}

.page{
    display: none;
}

.page.active{
    display: block; 
}

/* id selector is with # 
   class selector is with . 
*/

