* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFFF; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.heading {
    color: gray;
    margin-top: 100px;
    margin-left: 50px; 
}


.page {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 60px;

  max-width: 1000px;
  margin: 80px auto;
  padding: 0 24px;
}


.nav-bar {
  list-style: none;
  padding: 0;
  
  font-size: 1;
  margin-left: 50px;
  
  
}

.sections {
    margin-top: -90px;
    margin-left: 300px;
    color:gray;
      padding-top: 2px;
}

.sections p {
  margin-top: 0;
  margin-bottom: 1.4em;
  max-width: 600px;
}

:link {
    text-decoration: none;
    color:gray;
}

:visited {
    text-decoration: none;
}

:active {
    text-decoration: none;
}


.sections > div {
  display: none;
}

.sections > div.active {
  display: block;
}

.nav-bar li.active a {
  color: #00DFFF
}



/* id selector is with # 
   class selector is with . 
*/

